// All the custom components here
//
// accordian
//
.accordion {
  .card {
    margin-bottom: 1px;
  }
}

//
// Card
//

.card {
  margin-bottom: 20px;
  .card-subtitle {
    font-weight: 600;
    margin-bottom: 10px;
    color: $text-muted;
  }
  .card-title {
    position: relative;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 20px;
  }
}

//
// Table Common
//

.table thead th,
.table th {
  font-weight: 700;
}
